<li class = "user_in_list">
    <a href = '#messages/<%= id %>' id = 'big_ref'>
        <table>
            <tr>
                <td id = "name_of_user">
                    <a href = '#profile/<%= id %>' style = "display: inline-block;">
                        <h3>
                            <%= name %>
                        </h3>
                    </a>
                </td>
                <td id = "dialogues_text"><%= msg %></td>
                <td id = "time"><%= time %></td>
            </tr>
        </table>
    </a>
</li>