<form class="form-horizontal my_form_style" id = "loginForm">
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text"  placeholder="Email" id = "email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Пароль</label>
        <div class="controls">
            <input type="password"  placeholder="Пароль" id = "password">
        </div>
    </div>
    <div class="control-group my_button_style">
        <div class="controls">
            <button type="submit" class="btn btn-primary btn-block" id = "signIn">Войти</button>
        </div>
    </div>
    <div class="control-group my_button_style">
        <div class="controls">
            <button type="submit" class="btn btn-primary btn-block" id = "register_in_login">Зарегестрироваться</button>
        </div>
    </div>
</form>
