<form class="form-horizontal my_form_style" id="registeringForm">
    <div class="control-group">
        <label class="control-label" for="first_name">Имя</label>
        <div class="controls">
            <input type="text"  placeholder="Имя" id="first_name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="last_name">Фамилия</label>
        <div class="controls">
            <input type="text"  placeholder="Фамилия" id="last_name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text"  placeholder="Email" id="email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Пароль</label>
        <div class="controls">
            <input type="password"  placeholder="Пароль" id="password">
        </div>
    </div>
    <div class="control-group my_button_style">
        <div class="controls">
            <button type="submit" class="btn btn-primary btn-block" id="register">Зарегистрироваться</button>
        </div>
    </div>
</form>