<form id="signup_form">
    <div class="form-group">
        <input type="text" placeholder="First name" class="form-control" id="first_name">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Last name" class="form-control" id="last_name">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block" id="sign_up">Sign up</button>
    </div>
</form>